/**
 * EVE Swagger Interface
 * An OpenAPI for EVE Online
 *
 * OpenAPI spec version: 0.3.6.dev12
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package enterprises.orbital.eve.esi.client.api;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.gson.reflect.TypeToken;

import enterprises.orbital.eve.esi.client.invoker.ApiCallback;
import enterprises.orbital.eve.esi.client.invoker.ApiClient;
import enterprises.orbital.eve.esi.client.invoker.ApiException;
import enterprises.orbital.eve.esi.client.invoker.ApiResponse;
import enterprises.orbital.eve.esi.client.invoker.Configuration;
import enterprises.orbital.eve.esi.client.invoker.Pair;
import enterprises.orbital.eve.esi.client.invoker.ProgressRequestBody;
import enterprises.orbital.eve.esi.client.invoker.ProgressResponseBody;
import enterprises.orbital.eve.esi.client.model.GetIndustryFacilities200Ok;
import enterprises.orbital.eve.esi.client.model.GetIndustrySystems200Ok;

public class IndustryApi {
  private ApiClient apiClient;

  public IndustryApi() {
    this(Configuration.getDefaultApiClient());
  }

  public IndustryApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(
                           ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /* Build call for getIndustryFacilities */
  private com.squareup.okhttp.Call getIndustryFacilitiesCall(
                                                             String datasource,
                                                             final ProgressResponseBody.ProgressListener progressListener,
                                                             final ProgressRequestBody.ProgressRequestListener progressRequestListener)
    throws ApiException {
    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/industry/facilities/".replaceAll("\\{format\\}", "json");

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    if (datasource != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "datasource", datasource));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {
        "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (progressListener != null) {
      apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
        @Override
        public com.squareup.okhttp.Response intercept(
                                                      com.squareup.okhttp.Interceptor.Chain chain)
          throws IOException {
          com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
          return originalResponse.newBuilder().body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
        }
      });
    }

    String[] localVarAuthNames = new String[] {};
    return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames,
                               progressRequestListener);
  }

  /**
   * List industry facilities Return a list of industry facilities --- Alternate route: &#x60;/v1/industry/facilities/&#x60; Alternate route:
   * &#x60;/legacy/industry/facilities/&#x60; Alternate route: &#x60;/dev/industry/facilities/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return List&lt;GetIndustryFacilities200Ok&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public List<GetIndustryFacilities200Ok> getIndustryFacilities(
                                                                String datasource)
    throws ApiException {
    ApiResponse<List<GetIndustryFacilities200Ok>> resp = getIndustryFacilitiesWithHttpInfo(datasource);
    return resp.getData();
  }

  /**
   * List industry facilities Return a list of industry facilities --- Alternate route: &#x60;/v1/industry/facilities/&#x60; Alternate route:
   * &#x60;/legacy/industry/facilities/&#x60; Alternate route: &#x60;/dev/industry/facilities/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return ApiResponse&lt;List&lt;GetIndustryFacilities200Ok&gt;&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public ApiResponse<List<GetIndustryFacilities200Ok>> getIndustryFacilitiesWithHttpInfo(
                                                                                         String datasource)
    throws ApiException {
    com.squareup.okhttp.Call call = getIndustryFacilitiesCall(datasource, null, null);
    Type localVarReturnType = new TypeToken<List<GetIndustryFacilities200Ok>>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * List industry facilities (asynchronously) Return a list of industry facilities --- Alternate route: &#x60;/v1/industry/facilities/&#x60; Alternate route:
   * &#x60;/legacy/industry/facilities/&#x60; Alternate route: &#x60;/dev/industry/facilities/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @param callback
   *          The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException
   *           If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call getIndustryFacilitiesAsync(
                                                             String datasource,
                                                             final ApiCallback<List<GetIndustryFacilities200Ok>> callback)
    throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener = new ProgressResponseBody.ProgressListener() {
        @Override
        public void update(
                           long bytesRead,
                           long contentLength,
                           boolean done) {
          callback.onDownloadProgress(bytesRead, contentLength, done);
        }
      };

      progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
        @Override
        public void onRequestProgress(
                                      long bytesWritten,
                                      long contentLength,
                                      boolean done) {
          callback.onUploadProgress(bytesWritten, contentLength, done);
        }
      };
    }

    com.squareup.okhttp.Call call = getIndustryFacilitiesCall(datasource, progressListener, progressRequestListener);
    Type localVarReturnType = new TypeToken<List<GetIndustryFacilities200Ok>>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }

  /* Build call for getIndustrySystems */
  private com.squareup.okhttp.Call getIndustrySystemsCall(
                                                          String datasource,
                                                          final ProgressResponseBody.ProgressListener progressListener,
                                                          final ProgressRequestBody.ProgressRequestListener progressRequestListener)
    throws ApiException {
    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/industry/systems/".replaceAll("\\{format\\}", "json");

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    if (datasource != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "datasource", datasource));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {
        "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (progressListener != null) {
      apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
        @Override
        public com.squareup.okhttp.Response intercept(
                                                      com.squareup.okhttp.Interceptor.Chain chain)
          throws IOException {
          com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
          return originalResponse.newBuilder().body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
        }
      });
    }

    String[] localVarAuthNames = new String[] {};
    return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames,
                               progressRequestListener);
  }

  /**
   * List solar system cost indices Return cost indices for solar systems --- Alternate route: &#x60;/v1/industry/systems/&#x60; Alternate route:
   * &#x60;/legacy/industry/systems/&#x60; Alternate route: &#x60;/dev/industry/systems/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return List&lt;GetIndustrySystems200Ok&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public List<GetIndustrySystems200Ok> getIndustrySystems(
                                                          String datasource)
    throws ApiException {
    ApiResponse<List<GetIndustrySystems200Ok>> resp = getIndustrySystemsWithHttpInfo(datasource);
    return resp.getData();
  }

  /**
   * List solar system cost indices Return cost indices for solar systems --- Alternate route: &#x60;/v1/industry/systems/&#x60; Alternate route:
   * &#x60;/legacy/industry/systems/&#x60; Alternate route: &#x60;/dev/industry/systems/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return ApiResponse&lt;List&lt;GetIndustrySystems200Ok&gt;&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public ApiResponse<List<GetIndustrySystems200Ok>> getIndustrySystemsWithHttpInfo(
                                                                                   String datasource)
    throws ApiException {
    com.squareup.okhttp.Call call = getIndustrySystemsCall(datasource, null, null);
    Type localVarReturnType = new TypeToken<List<GetIndustrySystems200Ok>>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * List solar system cost indices (asynchronously) Return cost indices for solar systems --- Alternate route: &#x60;/v1/industry/systems/&#x60; Alternate
   * route: &#x60;/legacy/industry/systems/&#x60; Alternate route: &#x60;/dev/industry/systems/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @param callback
   *          The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException
   *           If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call getIndustrySystemsAsync(
                                                          String datasource,
                                                          final ApiCallback<List<GetIndustrySystems200Ok>> callback)
    throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener = new ProgressResponseBody.ProgressListener() {
        @Override
        public void update(
                           long bytesRead,
                           long contentLength,
                           boolean done) {
          callback.onDownloadProgress(bytesRead, contentLength, done);
        }
      };

      progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
        @Override
        public void onRequestProgress(
                                      long bytesWritten,
                                      long contentLength,
                                      boolean done) {
          callback.onUploadProgress(bytesWritten, contentLength, done);
        }
      };
    }

    com.squareup.okhttp.Call call = getIndustrySystemsCall(datasource, progressListener, progressRequestListener);
    Type localVarReturnType = new TypeToken<List<GetIndustrySystems200Ok>>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
