/**
 * EVE Swagger Interface
 * An OpenAPI for EVE Online
 *
 * OpenAPI spec version: 0.3.6.dev12
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package enterprises.orbital.eve.esi.client.api;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.gson.reflect.TypeToken;

import enterprises.orbital.eve.esi.client.invoker.ApiCallback;
import enterprises.orbital.eve.esi.client.invoker.ApiClient;
import enterprises.orbital.eve.esi.client.invoker.ApiException;
import enterprises.orbital.eve.esi.client.invoker.ApiResponse;
import enterprises.orbital.eve.esi.client.invoker.Configuration;
import enterprises.orbital.eve.esi.client.invoker.Pair;
import enterprises.orbital.eve.esi.client.invoker.ProgressRequestBody;
import enterprises.orbital.eve.esi.client.invoker.ProgressResponseBody;
import enterprises.orbital.eve.esi.client.model.GetMarketsPrices200Ok;
import enterprises.orbital.eve.esi.client.model.GetMarketsRegionIdHistory200Ok;
import enterprises.orbital.eve.esi.client.model.GetMarketsRegionIdOrders200Ok;

public class MarketApi {
  private ApiClient apiClient;

  public MarketApi() {
    this(Configuration.getDefaultApiClient());
  }

  public MarketApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(
                           ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /* Build call for getMarketsPrices */
  private com.squareup.okhttp.Call getMarketsPricesCall(
                                                        String datasource,
                                                        final ProgressResponseBody.ProgressListener progressListener,
                                                        final ProgressRequestBody.ProgressRequestListener progressRequestListener)
    throws ApiException {
    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/markets/prices/".replaceAll("\\{format\\}", "json");

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    if (datasource != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "datasource", datasource));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {
        "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (progressListener != null) {
      apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
        @Override
        public com.squareup.okhttp.Response intercept(
                                                      com.squareup.okhttp.Interceptor.Chain chain)
          throws IOException {
          com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
          return originalResponse.newBuilder().body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
        }
      });
    }

    String[] localVarAuthNames = new String[] {};
    return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames,
                               progressRequestListener);
  }

  /**
   * List market prices Return a list of prices --- Alternate route: &#x60;/v1/markets/prices/&#x60; Alternate route: &#x60;/legacy/markets/prices/&#x60;
   * Alternate route: &#x60;/dev/markets/prices/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return List&lt;GetMarketsPrices200Ok&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public List<GetMarketsPrices200Ok> getMarketsPrices(
                                                      String datasource)
    throws ApiException {
    ApiResponse<List<GetMarketsPrices200Ok>> resp = getMarketsPricesWithHttpInfo(datasource);
    return resp.getData();
  }

  /**
   * List market prices Return a list of prices --- Alternate route: &#x60;/v1/markets/prices/&#x60; Alternate route: &#x60;/legacy/markets/prices/&#x60;
   * Alternate route: &#x60;/dev/markets/prices/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return ApiResponse&lt;List&lt;GetMarketsPrices200Ok&gt;&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public ApiResponse<List<GetMarketsPrices200Ok>> getMarketsPricesWithHttpInfo(
                                                                               String datasource)
    throws ApiException {
    com.squareup.okhttp.Call call = getMarketsPricesCall(datasource, null, null);
    Type localVarReturnType = new TypeToken<List<GetMarketsPrices200Ok>>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * List market prices (asynchronously) Return a list of prices --- Alternate route: &#x60;/v1/markets/prices/&#x60; Alternate route:
   * &#x60;/legacy/markets/prices/&#x60; Alternate route: &#x60;/dev/markets/prices/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @param callback
   *          The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException
   *           If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call getMarketsPricesAsync(
                                                        String datasource,
                                                        final ApiCallback<List<GetMarketsPrices200Ok>> callback)
    throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener = new ProgressResponseBody.ProgressListener() {
        @Override
        public void update(
                           long bytesRead,
                           long contentLength,
                           boolean done) {
          callback.onDownloadProgress(bytesRead, contentLength, done);
        }
      };

      progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
        @Override
        public void onRequestProgress(
                                      long bytesWritten,
                                      long contentLength,
                                      boolean done) {
          callback.onUploadProgress(bytesWritten, contentLength, done);
        }
      };
    }

    com.squareup.okhttp.Call call = getMarketsPricesCall(datasource, progressListener, progressRequestListener);
    Type localVarReturnType = new TypeToken<List<GetMarketsPrices200Ok>>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }

  /* Build call for getMarketsRegionIdHistory */
  private com.squareup.okhttp.Call getMarketsRegionIdHistoryCall(
                                                                 Integer regionId,
                                                                 Integer typeId,
                                                                 String datasource,
                                                                 final ProgressResponseBody.ProgressListener progressListener,
                                                                 final ProgressRequestBody.ProgressRequestListener progressRequestListener)
    throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'regionId' is set
    if (regionId == null) { throw new ApiException("Missing the required parameter 'regionId' when calling getMarketsRegionIdHistory(Async)"); }

    // verify the required parameter 'typeId' is set
    if (typeId == null) { throw new ApiException("Missing the required parameter 'typeId' when calling getMarketsRegionIdHistory(Async)"); }

    // create path and map variables
    String localVarPath = "/markets/{region_id}/history/".replaceAll("\\{format\\}", "json").replaceAll("\\{" + "region_id" + "\\}",
                                                                                                        apiClient.escapeString(regionId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    if (typeId != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "type_id", typeId));
    if (datasource != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "datasource", datasource));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {
        "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (progressListener != null) {
      apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
        @Override
        public com.squareup.okhttp.Response intercept(
                                                      com.squareup.okhttp.Interceptor.Chain chain)
          throws IOException {
          com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
          return originalResponse.newBuilder().body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
        }
      });
    }

    String[] localVarAuthNames = new String[] {};
    return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames,
                               progressRequestListener);
  }

  /**
   * List historical market statistics in a region Return a list of historical market statistics for the specified type in a region --- Alternate route:
   * &#x60;/v1/markets/{region_id}/history/&#x60; Alternate route: &#x60;/legacy/markets/{region_id}/history/&#x60; Alternate route:
   * &#x60;/dev/markets/{region_id}/history/&#x60; --- This route is cached for up to 300 seconds
   * 
   * @param regionId
   *          Return statistics in this region (required)
   * @param typeId
   *          Return statistics for this type (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return List&lt;GetMarketsRegionIdHistory200Ok&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public List<GetMarketsRegionIdHistory200Ok> getMarketsRegionIdHistory(
                                                                        Integer regionId,
                                                                        Integer typeId,
                                                                        String datasource)
    throws ApiException {
    ApiResponse<List<GetMarketsRegionIdHistory200Ok>> resp = getMarketsRegionIdHistoryWithHttpInfo(regionId, typeId, datasource);
    return resp.getData();
  }

  /**
   * List historical market statistics in a region Return a list of historical market statistics for the specified type in a region --- Alternate route:
   * &#x60;/v1/markets/{region_id}/history/&#x60; Alternate route: &#x60;/legacy/markets/{region_id}/history/&#x60; Alternate route:
   * &#x60;/dev/markets/{region_id}/history/&#x60; --- This route is cached for up to 300 seconds
   * 
   * @param regionId
   *          Return statistics in this region (required)
   * @param typeId
   *          Return statistics for this type (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return ApiResponse&lt;List&lt;GetMarketsRegionIdHistory200Ok&gt;&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public ApiResponse<List<GetMarketsRegionIdHistory200Ok>> getMarketsRegionIdHistoryWithHttpInfo(
                                                                                                 Integer regionId,
                                                                                                 Integer typeId,
                                                                                                 String datasource)
    throws ApiException {
    com.squareup.okhttp.Call call = getMarketsRegionIdHistoryCall(regionId, typeId, datasource, null, null);
    Type localVarReturnType = new TypeToken<List<GetMarketsRegionIdHistory200Ok>>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * List historical market statistics in a region (asynchronously) Return a list of historical market statistics for the specified type in a region ---
   * Alternate route: &#x60;/v1/markets/{region_id}/history/&#x60; Alternate route: &#x60;/legacy/markets/{region_id}/history/&#x60; Alternate route:
   * &#x60;/dev/markets/{region_id}/history/&#x60; --- This route is cached for up to 300 seconds
   * 
   * @param regionId
   *          Return statistics in this region (required)
   * @param typeId
   *          Return statistics for this type (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @param callback
   *          The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException
   *           If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call getMarketsRegionIdHistoryAsync(
                                                                 Integer regionId,
                                                                 Integer typeId,
                                                                 String datasource,
                                                                 final ApiCallback<List<GetMarketsRegionIdHistory200Ok>> callback)
    throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener = new ProgressResponseBody.ProgressListener() {
        @Override
        public void update(
                           long bytesRead,
                           long contentLength,
                           boolean done) {
          callback.onDownloadProgress(bytesRead, contentLength, done);
        }
      };

      progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
        @Override
        public void onRequestProgress(
                                      long bytesWritten,
                                      long contentLength,
                                      boolean done) {
          callback.onUploadProgress(bytesWritten, contentLength, done);
        }
      };
    }

    com.squareup.okhttp.Call call = getMarketsRegionIdHistoryCall(regionId, typeId, datasource, progressListener, progressRequestListener);
    Type localVarReturnType = new TypeToken<List<GetMarketsRegionIdHistory200Ok>>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }

  /* Build call for getMarketsRegionIdOrders */
  private com.squareup.okhttp.Call getMarketsRegionIdOrdersCall(
                                                                Integer regionId,
                                                                String orderType,
                                                                Integer typeId,
                                                                Integer page,
                                                                String datasource,
                                                                final ProgressResponseBody.ProgressListener progressListener,
                                                                final ProgressRequestBody.ProgressRequestListener progressRequestListener)
    throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'regionId' is set
    if (regionId == null) { throw new ApiException("Missing the required parameter 'regionId' when calling getMarketsRegionIdOrders(Async)"); }

    // verify the required parameter 'orderType' is set
    if (orderType == null) { throw new ApiException("Missing the required parameter 'orderType' when calling getMarketsRegionIdOrders(Async)"); }

    // create path and map variables
    String localVarPath = "/markets/{region_id}/orders/".replaceAll("\\{format\\}", "json").replaceAll("\\{" + "region_id" + "\\}",
                                                                                                       apiClient.escapeString(regionId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    if (typeId != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "type_id", typeId));
    if (orderType != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "order_type", orderType));
    if (page != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "page", page));
    if (datasource != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "datasource", datasource));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {
        "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (progressListener != null) {
      apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
        @Override
        public com.squareup.okhttp.Response intercept(
                                                      com.squareup.okhttp.Interceptor.Chain chain)
          throws IOException {
          com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
          return originalResponse.newBuilder().body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
        }
      });
    }

    String[] localVarAuthNames = new String[] {};
    return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames,
                               progressRequestListener);
  }

  /**
   * List orders in a region Return a list of orders in a region --- Alternate route: &#x60;/v1/markets/{region_id}/orders/&#x60; Alternate route:
   * &#x60;/legacy/markets/{region_id}/orders/&#x60; Alternate route: &#x60;/dev/markets/{region_id}/orders/&#x60; --- This route is cached for up to 300
   * seconds
   * 
   * @param regionId
   *          Return orders in this region (required)
   * @param orderType
   *          Filter buy/sell orders, return all orders by default. If you query without type_id, we always return both buy and sell orders. (required)
   * @param typeId
   *          Return orders only for this type (optional)
   * @param page
   *          Which page to query, only used for querying without type_id. Starting at 1 (optional, default to 1)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return List&lt;GetMarketsRegionIdOrders200Ok&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public List<GetMarketsRegionIdOrders200Ok> getMarketsRegionIdOrders(
                                                                      Integer regionId,
                                                                      String orderType,
                                                                      Integer typeId,
                                                                      Integer page,
                                                                      String datasource)
    throws ApiException {
    ApiResponse<List<GetMarketsRegionIdOrders200Ok>> resp = getMarketsRegionIdOrdersWithHttpInfo(regionId, orderType, typeId, page, datasource);
    return resp.getData();
  }

  /**
   * List orders in a region Return a list of orders in a region --- Alternate route: &#x60;/v1/markets/{region_id}/orders/&#x60; Alternate route:
   * &#x60;/legacy/markets/{region_id}/orders/&#x60; Alternate route: &#x60;/dev/markets/{region_id}/orders/&#x60; --- This route is cached for up to 300
   * seconds
   * 
   * @param regionId
   *          Return orders in this region (required)
   * @param orderType
   *          Filter buy/sell orders, return all orders by default. If you query without type_id, we always return both buy and sell orders. (required)
   * @param typeId
   *          Return orders only for this type (optional)
   * @param page
   *          Which page to query, only used for querying without type_id. Starting at 1 (optional, default to 1)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return ApiResponse&lt;List&lt;GetMarketsRegionIdOrders200Ok&gt;&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public ApiResponse<List<GetMarketsRegionIdOrders200Ok>> getMarketsRegionIdOrdersWithHttpInfo(
                                                                                               Integer regionId,
                                                                                               String orderType,
                                                                                               Integer typeId,
                                                                                               Integer page,
                                                                                               String datasource)
    throws ApiException {
    com.squareup.okhttp.Call call = getMarketsRegionIdOrdersCall(regionId, orderType, typeId, page, datasource, null, null);
    Type localVarReturnType = new TypeToken<List<GetMarketsRegionIdOrders200Ok>>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * List orders in a region (asynchronously) Return a list of orders in a region --- Alternate route: &#x60;/v1/markets/{region_id}/orders/&#x60; Alternate
   * route: &#x60;/legacy/markets/{region_id}/orders/&#x60; Alternate route: &#x60;/dev/markets/{region_id}/orders/&#x60; --- This route is cached for up to 300
   * seconds
   * 
   * @param regionId
   *          Return orders in this region (required)
   * @param orderType
   *          Filter buy/sell orders, return all orders by default. If you query without type_id, we always return both buy and sell orders. (required)
   * @param typeId
   *          Return orders only for this type (optional)
   * @param page
   *          Which page to query, only used for querying without type_id. Starting at 1 (optional, default to 1)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @param callback
   *          The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException
   *           If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call getMarketsRegionIdOrdersAsync(
                                                                Integer regionId,
                                                                String orderType,
                                                                Integer typeId,
                                                                Integer page,
                                                                String datasource,
                                                                final ApiCallback<List<GetMarketsRegionIdOrders200Ok>> callback)
    throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener = new ProgressResponseBody.ProgressListener() {
        @Override
        public void update(
                           long bytesRead,
                           long contentLength,
                           boolean done) {
          callback.onDownloadProgress(bytesRead, contentLength, done);
        }
      };

      progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
        @Override
        public void onRequestProgress(
                                      long bytesWritten,
                                      long contentLength,
                                      boolean done) {
          callback.onUploadProgress(bytesWritten, contentLength, done);
        }
      };
    }

    com.squareup.okhttp.Call call = getMarketsRegionIdOrdersCall(regionId, orderType, typeId, page, datasource, progressListener, progressRequestListener);
    Type localVarReturnType = new TypeToken<List<GetMarketsRegionIdOrders200Ok>>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
