/**
 * EVE Swagger Interface
 * An OpenAPI for EVE Online
 *
 * OpenAPI spec version: 0.3.6.dev12
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package enterprises.orbital.eve.esi.client.api;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.google.gson.reflect.TypeToken;

import enterprises.orbital.eve.esi.client.invoker.ApiCallback;
import enterprises.orbital.eve.esi.client.invoker.ApiClient;
import enterprises.orbital.eve.esi.client.invoker.ApiException;
import enterprises.orbital.eve.esi.client.invoker.ApiResponse;
import enterprises.orbital.eve.esi.client.invoker.Configuration;
import enterprises.orbital.eve.esi.client.invoker.Pair;
import enterprises.orbital.eve.esi.client.invoker.ProgressRequestBody;
import enterprises.orbital.eve.esi.client.invoker.ProgressResponseBody;
import enterprises.orbital.eve.esi.client.model.GetCharactersCharacterIdPlanets200Ok;
import enterprises.orbital.eve.esi.client.model.GetCharactersCharacterIdPlanetsPlanetIdOk;
import enterprises.orbital.eve.esi.client.model.GetUniverseSchematicsSchematicIdOk;

public class PlanetaryInteractionApi {
  private ApiClient apiClient;

  public PlanetaryInteractionApi() {
    this(Configuration.getDefaultApiClient());
  }

  public PlanetaryInteractionApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(
                           ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /* Build call for getCharactersCharacterIdPlanets */
  private com.squareup.okhttp.Call getCharactersCharacterIdPlanetsCall(
                                                                       Integer characterId,
                                                                       String datasource,
                                                                       final ProgressResponseBody.ProgressListener progressListener,
                                                                       final ProgressRequestBody.ProgressRequestListener progressRequestListener)
    throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'characterId' is set
    if (characterId == null) { throw new ApiException("Missing the required parameter 'characterId' when calling getCharactersCharacterIdPlanets(Async)"); }

    // create path and map variables
    String localVarPath = "/characters/{character_id}/planets/".replaceAll("\\{format\\}", "json").replaceAll("\\{" + "character_id" + "\\}",
                                                                                                              apiClient.escapeString(characterId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    if (datasource != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "datasource", datasource));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {
        "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (progressListener != null) {
      apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
        @Override
        public com.squareup.okhttp.Response intercept(
                                                      com.squareup.okhttp.Interceptor.Chain chain)
          throws IOException {
          com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
          return originalResponse.newBuilder().body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
        }
      });
    }

    String[] localVarAuthNames = new String[] {
        "evesso"
    };
    return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames,
                               progressRequestListener);
  }

  /**
   * Get colonies Returns a list of all planetary colonies owned by a character. --- Alternate route: &#x60;/v1/characters/{character_id}/planets/&#x60;
   * Alternate route: &#x60;/legacy/characters/{character_id}/planets/&#x60; Alternate route: &#x60;/dev/characters/{character_id}/planets/&#x60; --- This route
   * is cached for up to 600 seconds
   * 
   * @param characterId
   *          Character id of the target character (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return List&lt;GetCharactersCharacterIdPlanets200Ok&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public List<GetCharactersCharacterIdPlanets200Ok> getCharactersCharacterIdPlanets(
                                                                                    Integer characterId,
                                                                                    String datasource)
    throws ApiException {
    ApiResponse<List<GetCharactersCharacterIdPlanets200Ok>> resp = getCharactersCharacterIdPlanetsWithHttpInfo(characterId, datasource);
    return resp.getData();
  }

  /**
   * Get colonies Returns a list of all planetary colonies owned by a character. --- Alternate route: &#x60;/v1/characters/{character_id}/planets/&#x60;
   * Alternate route: &#x60;/legacy/characters/{character_id}/planets/&#x60; Alternate route: &#x60;/dev/characters/{character_id}/planets/&#x60; --- This route
   * is cached for up to 600 seconds
   * 
   * @param characterId
   *          Character id of the target character (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return ApiResponse&lt;List&lt;GetCharactersCharacterIdPlanets200Ok&gt;&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public ApiResponse<List<GetCharactersCharacterIdPlanets200Ok>> getCharactersCharacterIdPlanetsWithHttpInfo(
                                                                                                             Integer characterId,
                                                                                                             String datasource)
    throws ApiException {
    com.squareup.okhttp.Call call = getCharactersCharacterIdPlanetsCall(characterId, datasource, null, null);
    Type localVarReturnType = new TypeToken<List<GetCharactersCharacterIdPlanets200Ok>>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * Get colonies (asynchronously) Returns a list of all planetary colonies owned by a character. --- Alternate route:
   * &#x60;/v1/characters/{character_id}/planets/&#x60; Alternate route: &#x60;/legacy/characters/{character_id}/planets/&#x60; Alternate route:
   * &#x60;/dev/characters/{character_id}/planets/&#x60; --- This route is cached for up to 600 seconds
   * 
   * @param characterId
   *          Character id of the target character (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @param callback
   *          The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException
   *           If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call getCharactersCharacterIdPlanetsAsync(
                                                                       Integer characterId,
                                                                       String datasource,
                                                                       final ApiCallback<List<GetCharactersCharacterIdPlanets200Ok>> callback)
    throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener = new ProgressResponseBody.ProgressListener() {
        @Override
        public void update(
                           long bytesRead,
                           long contentLength,
                           boolean done) {
          callback.onDownloadProgress(bytesRead, contentLength, done);
        }
      };

      progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
        @Override
        public void onRequestProgress(
                                      long bytesWritten,
                                      long contentLength,
                                      boolean done) {
          callback.onUploadProgress(bytesWritten, contentLength, done);
        }
      };
    }

    com.squareup.okhttp.Call call = getCharactersCharacterIdPlanetsCall(characterId, datasource, progressListener, progressRequestListener);
    Type localVarReturnType = new TypeToken<List<GetCharactersCharacterIdPlanets200Ok>>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }

  /* Build call for getCharactersCharacterIdPlanetsPlanetId */
  private com.squareup.okhttp.Call getCharactersCharacterIdPlanetsPlanetIdCall(
                                                                               Integer characterId,
                                                                               Integer planetId,
                                                                               String datasource,
                                                                               final ProgressResponseBody.ProgressListener progressListener,
                                                                               final ProgressRequestBody.ProgressRequestListener progressRequestListener)
    throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'characterId' is set
    if (characterId == null) { throw new ApiException(
        "Missing the required parameter 'characterId' when calling getCharactersCharacterIdPlanetsPlanetId(Async)"); }

    // verify the required parameter 'planetId' is set
    if (planetId == null) { throw new ApiException("Missing the required parameter 'planetId' when calling getCharactersCharacterIdPlanetsPlanetId(Async)"); }

    // create path and map variables
    String localVarPath = "/characters/{character_id}/planets/{planet_id}/".replaceAll("\\{format\\}", "json")
        .replaceAll("\\{" + "character_id" + "\\}", apiClient.escapeString(characterId.toString()))
        .replaceAll("\\{" + "planet_id" + "\\}", apiClient.escapeString(planetId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    if (datasource != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "datasource", datasource));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {
        "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (progressListener != null) {
      apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
        @Override
        public com.squareup.okhttp.Response intercept(
                                                      com.squareup.okhttp.Interceptor.Chain chain)
          throws IOException {
          com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
          return originalResponse.newBuilder().body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
        }
      });
    }

    String[] localVarAuthNames = new String[] {
        "evesso"
    };
    return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames,
                               progressRequestListener);
  }

  /**
   * Get colony layout Returns full details on the layout of a single planetary colony, including links, pins and routes. Note: Planetary information is only
   * recalculated when the colony is viewed through the client. Information on this endpoint will not update until this criteria is met. --- Alternate route:
   * &#x60;/v1/characters/{character_id}/planets/{planet_id}/&#x60; Alternate route: &#x60;/legacy/characters/{character_id}/planets/{planet_id}/&#x60;
   * Alternate route: &#x60;/dev/characters/{character_id}/planets/{planet_id}/&#x60; --- This route is cached for up to 600 seconds
   * 
   * @param characterId
   *          Character id of the target character (required)
   * @param planetId
   *          Planet id of the target planet (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return GetCharactersCharacterIdPlanetsPlanetIdOk
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public GetCharactersCharacterIdPlanetsPlanetIdOk getCharactersCharacterIdPlanetsPlanetId(
                                                                                           Integer characterId,
                                                                                           Integer planetId,
                                                                                           String datasource)
    throws ApiException {
    ApiResponse<GetCharactersCharacterIdPlanetsPlanetIdOk> resp = getCharactersCharacterIdPlanetsPlanetIdWithHttpInfo(characterId, planetId, datasource);
    return resp.getData();
  }

  /**
   * Get colony layout Returns full details on the layout of a single planetary colony, including links, pins and routes. Note: Planetary information is only
   * recalculated when the colony is viewed through the client. Information on this endpoint will not update until this criteria is met. --- Alternate route:
   * &#x60;/v1/characters/{character_id}/planets/{planet_id}/&#x60; Alternate route: &#x60;/legacy/characters/{character_id}/planets/{planet_id}/&#x60;
   * Alternate route: &#x60;/dev/characters/{character_id}/planets/{planet_id}/&#x60; --- This route is cached for up to 600 seconds
   * 
   * @param characterId
   *          Character id of the target character (required)
   * @param planetId
   *          Planet id of the target planet (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return ApiResponse&lt;GetCharactersCharacterIdPlanetsPlanetIdOk&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public ApiResponse<GetCharactersCharacterIdPlanetsPlanetIdOk> getCharactersCharacterIdPlanetsPlanetIdWithHttpInfo(
                                                                                                                    Integer characterId,
                                                                                                                    Integer planetId,
                                                                                                                    String datasource)
    throws ApiException {
    com.squareup.okhttp.Call call = getCharactersCharacterIdPlanetsPlanetIdCall(characterId, planetId, datasource, null, null);
    Type localVarReturnType = new TypeToken<GetCharactersCharacterIdPlanetsPlanetIdOk>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * Get colony layout (asynchronously) Returns full details on the layout of a single planetary colony, including links, pins and routes. Note: Planetary
   * information is only recalculated when the colony is viewed through the client. Information on this endpoint will not update until this criteria is met. ---
   * Alternate route: &#x60;/v1/characters/{character_id}/planets/{planet_id}/&#x60; Alternate route:
   * &#x60;/legacy/characters/{character_id}/planets/{planet_id}/&#x60; Alternate route: &#x60;/dev/characters/{character_id}/planets/{planet_id}/&#x60; ---
   * This route is cached for up to 600 seconds
   * 
   * @param characterId
   *          Character id of the target character (required)
   * @param planetId
   *          Planet id of the target planet (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @param callback
   *          The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException
   *           If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call getCharactersCharacterIdPlanetsPlanetIdAsync(
                                                                               Integer characterId,
                                                                               Integer planetId,
                                                                               String datasource,
                                                                               final ApiCallback<GetCharactersCharacterIdPlanetsPlanetIdOk> callback)
    throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener = new ProgressResponseBody.ProgressListener() {
        @Override
        public void update(
                           long bytesRead,
                           long contentLength,
                           boolean done) {
          callback.onDownloadProgress(bytesRead, contentLength, done);
        }
      };

      progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
        @Override
        public void onRequestProgress(
                                      long bytesWritten,
                                      long contentLength,
                                      boolean done) {
          callback.onUploadProgress(bytesWritten, contentLength, done);
        }
      };
    }

    com.squareup.okhttp.Call call = getCharactersCharacterIdPlanetsPlanetIdCall(characterId, planetId, datasource, progressListener, progressRequestListener);
    Type localVarReturnType = new TypeToken<GetCharactersCharacterIdPlanetsPlanetIdOk>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }

  /* Build call for getUniverseSchematicsSchematicId */
  private com.squareup.okhttp.Call getUniverseSchematicsSchematicIdCall(
                                                                        Integer schematicId,
                                                                        String datasource,
                                                                        final ProgressResponseBody.ProgressListener progressListener,
                                                                        final ProgressRequestBody.ProgressRequestListener progressRequestListener)
    throws ApiException {
    Object localVarPostBody = null;

    // verify the required parameter 'schematicId' is set
    if (schematicId == null) { throw new ApiException("Missing the required parameter 'schematicId' when calling getUniverseSchematicsSchematicId(Async)"); }

    // create path and map variables
    String localVarPath = "/universe/schematics/{schematic_id}/".replaceAll("\\{format\\}", "json").replaceAll("\\{" + "schematic_id" + "\\}",
                                                                                                               apiClient.escapeString(schematicId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    if (datasource != null) localVarQueryParams.addAll(apiClient.parameterToPairs("", "datasource", datasource));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {
        "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {

    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (progressListener != null) {
      apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
        @Override
        public com.squareup.okhttp.Response intercept(
                                                      com.squareup.okhttp.Interceptor.Chain chain)
          throws IOException {
          com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
          return originalResponse.newBuilder().body(new ProgressResponseBody(originalResponse.body(), progressListener)).build();
        }
      });
    }

    String[] localVarAuthNames = new String[] {};
    return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames,
                               progressRequestListener);
  }

  /**
   * Get schematic information Get information on a planetary factory schematic --- Alternate route: &#x60;/v1/universe/schematics/{schematic_id}/&#x60;
   * Alternate route: &#x60;/legacy/universe/schematics/{schematic_id}/&#x60; Alternate route: &#x60;/dev/universe/schematics/{schematic_id}/&#x60; --- This
   * route is cached for up to 3600 seconds
   * 
   * @param schematicId
   *          A PI schematic ID (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return GetUniverseSchematicsSchematicIdOk
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public GetUniverseSchematicsSchematicIdOk getUniverseSchematicsSchematicId(
                                                                             Integer schematicId,
                                                                             String datasource)
    throws ApiException {
    ApiResponse<GetUniverseSchematicsSchematicIdOk> resp = getUniverseSchematicsSchematicIdWithHttpInfo(schematicId, datasource);
    return resp.getData();
  }

  /**
   * Get schematic information Get information on a planetary factory schematic --- Alternate route: &#x60;/v1/universe/schematics/{schematic_id}/&#x60;
   * Alternate route: &#x60;/legacy/universe/schematics/{schematic_id}/&#x60; Alternate route: &#x60;/dev/universe/schematics/{schematic_id}/&#x60; --- This
   * route is cached for up to 3600 seconds
   * 
   * @param schematicId
   *          A PI schematic ID (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @return ApiResponse&lt;GetUniverseSchematicsSchematicIdOk&gt;
   * @throws ApiException
   *           If fail to call the API, e.g. server error or cannot deserialize the response body
   */
  public ApiResponse<GetUniverseSchematicsSchematicIdOk> getUniverseSchematicsSchematicIdWithHttpInfo(
                                                                                                      Integer schematicId,
                                                                                                      String datasource)
    throws ApiException {
    com.squareup.okhttp.Call call = getUniverseSchematicsSchematicIdCall(schematicId, datasource, null, null);
    Type localVarReturnType = new TypeToken<GetUniverseSchematicsSchematicIdOk>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * Get schematic information (asynchronously) Get information on a planetary factory schematic --- Alternate route:
   * &#x60;/v1/universe/schematics/{schematic_id}/&#x60; Alternate route: &#x60;/legacy/universe/schematics/{schematic_id}/&#x60; Alternate route:
   * &#x60;/dev/universe/schematics/{schematic_id}/&#x60; --- This route is cached for up to 3600 seconds
   * 
   * @param schematicId
   *          A PI schematic ID (required)
   * @param datasource
   *          The server name you would like data from (optional, default to tranquility)
   * @param callback
   *          The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException
   *           If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call getUniverseSchematicsSchematicIdAsync(
                                                                        Integer schematicId,
                                                                        String datasource,
                                                                        final ApiCallback<GetUniverseSchematicsSchematicIdOk> callback)
    throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener = new ProgressResponseBody.ProgressListener() {
        @Override
        public void update(
                           long bytesRead,
                           long contentLength,
                           boolean done) {
          callback.onDownloadProgress(bytesRead, contentLength, done);
        }
      };

      progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
        @Override
        public void onRequestProgress(
                                      long bytesWritten,
                                      long contentLength,
                                      boolean done) {
          callback.onUploadProgress(bytesWritten, contentLength, done);
        }
      };
    }

    com.squareup.okhttp.Call call = getUniverseSchematicsSchematicIdCall(schematicId, datasource, progressListener, progressRequestListener);
    Type localVarReturnType = new TypeToken<GetUniverseSchematicsSchematicIdOk>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
